escapesrc/escapesrc
genbrk/genbrk
genccode/genccode
gencfu/gencfu
gencmn/gencmn
gencnval/gencnval
gendict/gendict
gennorm2/gennorm2
genrb/derb
genrb/genrb
gensprep/gensprep
icuexportdata/icuexportdata
icuinfo/icuinfo
icupkg/icupkg
makeconv/makeconv
pkgdata/pkgdata

icuinfo/test-icuinfo
