# ICU data files.
#
# Note: Directory-qualify patterns for extensions also used on source files.
#
*.brk
*.cfu
*.cnv
*.dict
*.res
*.spp
data/*.icu
data/*.nrm
res_index.txt
*.lst
*.dat
*.S
data/filters/
data/build-time-data-dir/

# Generated source files.
#
tools/genccode/genccode.c

# Compiler/linker output.
#
*.d
*.t
*.i
*.i.*
*.ii
*.ii.*
*.o
*.obj
*.gcm
*.pcm
*.ifc
*.so
*.dylib
*.dll
*.a
*.lib
*.exp
*.pdb
*.ilk
*.exe
*.exe.dlls/
*.exe.manifest
*.pc
